.todo_container {
    
    margin : auto;
    height : 100%;

}
.todo_add {
    width: 50%;
    background-color : white;
    padding : 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.todo_add_input {
    border : solid grey;

}